<?xml version="1.0" encoding="utf-8"?>
<!-- Example configuration file to be passed to NCoverExplorer-Console.exe using /config: switch  -->
<!-- If not supplied, then the same defaults will be used as the NCoverExplorer GUI. -->
<NCoverExplorer xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- Title name to appear on the report (equivalent to /project:xx). Default is blank. -->
  <ProjectName>Example.Project</ProjectName>
  <!-- Minimum coverage % (equivalent to /minCoverage:xx) below which exit code 3 will be thrown. Default is off. -->
  <!--<MinCoverageForExitCode>80</MinCoverageForExitCode>-->
  <!-- Threshold for acceptance criteria for coverage reports detailing acceptable coverage levels. Default is 95% -->
  <SatisfactoryCoverageThreshold>80</SatisfactoryCoverageThreshold>
  <!-- Coverage exclusions to exclude specified assemblies, namespaces and/or classes. -->
  <CoverageExclusions>
    <CoverageExclusion>
	  <!-- Valid values are [Assembly], [Namespace] and [Class]. -->
      <ExclusionType>Assembly</ExclusionType>
      <Pattern>*.Tests</Pattern>
    </CoverageExclusion>
    <CoverageExclusion>
      <ExclusionType>Namespace</ExclusionType>
      <Pattern>*.My*</Pattern>
    </CoverageExclusion>
  </CoverageExclusions>
  <!-- Module specific coverage thresholds - optional section -->
  <ModuleThresholds>
	<ModuleThreshold moduleName="NCoverExplorer.Core.dll" satisfactoryCoverage="30" />
  </ModuleThresholds>
</NCoverExplorer>